body{
    margin: 0;
    max-width: 100vw;
}

*{
    margin: 0;
}

button{
    border: none;
    background-color: #EF6C00;
    padding: 10px;
    color: white;
}

a{
    text-decoration: none;
}

img{
    max-width: 100vw;
}

header{
    display: flex;
    background-color: #242E3F;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.line1{
    
    border: 1px solid black;
    margin: 10px 10px;
    width: 95vw;
}

.links-container{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 10px;
    width: 65vw;
    align-items: center;
}

.logo{
    display: flex;
    width: 30vw;
    height: fit-content;
    justify-content: center;
    padding-left: 30px;
}

.logo img{
    max-height: 50px;
    max-width: 100vw;
    justify-content: center;
}

.links-container a{
    text-decoration: none;
    color: #EF6C00;
    font-weight: 700, bold;
    font-family: 'Courier New', Courier, monospace;
    size: 32px;
}

.active{
    border-bottom: 2px solid #EF6C00;
}

.date-display{
    width: 100vw;
    text-align: center;
    color: #EF6C00;
}

.headline img{
    max-width: 100vw;
}

.headline{
    text-align: center;
}

.headline p{
    text-align: left;
    margin: 10px;
}

.headline button{
    display: flex;
    align-self: flex-start;
    margin-left: 10px;
}

.headline .date{
    text-align: left;
    margin: 10px;
}

.links1{
    margin-top: 10px;
    color: #EF6C00;
}

.news-cards{
    display: flex;
    align-items: center;
    margin: 10px;
}

.news-cards img{
    width: 40%;
    margin-right: 10px;
}

